{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/products.css') }}">
{% endblock %}

{% block body %}

<body>
    
    <div style="max-width: 900px; margin: auto;">
    <a href="{{ path('products')}}" class="see-more">Continuer les achats</a>

    <div>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>

        <div style="display: flex;justify-content: space-between;border: 1px solid #000; margin-top: 26px; padding: 10px; font-weight; background: #ffa41c;
  color: #fff;">
            <div>Produits</div>
            <div>articles / prix DH</div>
        </div>
        {% for item in cart %}
        <div style="display: flex;justify-content: space-between;border: 1px solid;padding: 10px;">
            <div>{{ item.product.title }}</div>
            <div>{{ item.quantity }} articles / {{ item.quantity * item.product.price }} DH</div>
        </div>
        {% endfor %}
    </div>
</body>

{% endblock %}
